* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header{
    display: flex;
    width: auto;
    height: 60px;
    background: #772C43;
    align-items: center;
    justify-content: left;
    align-content: center;
    /*outline: 2px solid red; identifica los div*/
  }
  
  .logoSearch1{
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto;
    height: 35px;
    margin: 5px;
    /*outline: 2px solid red; identifica los div*/
  }
  
  .logoSearch2{
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto;
    height: 35px;
    margin: 5px;
    /*outline: 2px solid red; identifica los div*/
  }
  
  .pag1{
    background-image: url(fotos/darius.gif);
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
  }
  
  .inicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  #logo{
    width: 40%;
    height: 40%;
    margin-top: 10%;
   /*outline: 2px solid red; identifica los div*/
  }
  
  h2{
    color:  #ebe9eb;
  }
  
  .botones{
    background-color: #772C43;
    font-family: "Georgia";
    color: white;
    font-size: large;
    padding: 5px 10px;
    border-radius: 30px;
    border-color: #C89B3C;
  }
  
  #boton1{
    padding: 10px 10px;
    width: 35vh;
    left: 45%;
    margin-top: 30px;
    text-align: center;
    }
  
  
  /*CARACTERISTICAS DE LA SEGUNDA SECCION*/
  
  .secondPage{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*outline: 2px solid red; /*identifica los div*/
  }
  
  .texto{
    position: relative;
    top: 130px;
    height: 400px;
    max-width: 600px;
    font-family: italic;
    font-size:x-large;
   /*outline: 2px solid red;/*identifica los div*/
    
  }

  .find{
  max-width: 200px;
  height: 30px;
  font-style: italic;
  font-size: 25px;
  /*outline: 2px solid red;/*identifica los div*/
 }

 .CAMPEONTEXT{
  height: 75px;
  font-style: italic;
  font-size: 300%;
  font-weight: bold;
  /*outline: 2px solid red;/*identifica los div*/
 }
 
  #parrafo2{
    height: 100px;
    width: 60%;
    max-width: 350px;
    font-size: larger;
    color:#772C43;
    /*outline: 2px solid red;/*identifica los div*/
  }
  
  #filterButtons{ 
    display: flex;  
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center; 
    /*outline: 2px solid red;*/
  }
  
  #filterButtons ul li {
     background-color:#C89B3C
  }
  
  #filterButtons ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  #filterButtons ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  
  #filterButtons ul li {
    position:relative;
    float:left;
    margin:0%;
    padding:0%;
  }
  
  #filterButtons ul li:hover {
    background:#C8AA6E
  }
  
  #filterButtons ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
  }
  
  #filterButtons ul ul li {
    float:none;
    width:150px;
  }
  
  #filterButtons ul ul a {
    line-height:120%;
    padding:10px 15px;
  }
  
  #filterButtons ul li:hover > ul {
    display:block;
  }

 /*ORDEN DE LAS CARTAS*/

 .section-champions{
  width:100vw;
  padding-left: 1.5%;
 }

  .container-champions{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap ;
  width:100vw;
 }
 
  .card{ 
    padding: 1rem;
    padding-bottom: 50px;
    /*outline: 2px solid red; /*identifica los div*/
  }

  /*DECORACION DE LAS CARTAS*/
  .card img {
    width: 30vw;
    margin: auto;
  }

  .card .name {
    padding: 0.5rem;
    text-align: left;
    font-size:xx-large;
    background:  rgb(6, 28, 37);
    font-weight: bold;
    color: #fff;
  }

  .card .title {
    padding: 0.5rem;
    text-align: left;
    font-size: medium;
    background:  rgb(4, 21, 27);
    font-weight: 400;
    color: #fff;
  }

  .card .tags {
    padding: 0.5rem;
    text-align: left;
    font-size: medium;
    background: rgb(4, 19, 24);
    font-weight: 400;
    color: #fff;
  }

  .card .info {
    padding: 0.5rem;
    text-align: left;
    font-size: medium;
    background:rgb(3, 15, 18);
    font-weight: 400;
    color: #fff;
  }

  /*RESPONSIVE*/

  /*@media (min-width: 768px){
    .card .info {
      padding: 0.5rem;
      text-align: left;
      font-size: medium;
      background: #000000;
      font-weight: 400;
      color: rgb(0, 0, 0);
    }
  }*/
